body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #555;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

img {
    display: block;
    margin: auto;
    width: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
